@digital:registry=https://pkgs.dev.azure.com/vettadigital/_packaging/vettadigital/npm/registry/
@sms:registry=https://pkgs.dev.azure.com/sms-digital/SMS-digital-Application-Platform/_packaging/sms-plasma/npm/registry/
always-auth=true
